        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .Raw {
            display: flex;
            margin: 50px auto;
            justify-content: space-between;
            width: 80%;
            /* border: thin solid black; */
            /* align-items: center; */
            /* margin-top: 60px; */
            /* padding-left: 90px; */

        }

        h1 {
            font-size: 4rem;
            margin-bottom: 10px;
            line-height: 1;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        .rawpan {
            /* line-height: ; */
            width: 50%;
            /* border: thin solid red; */
            padding: 20px;
        }

        .rawimg {
            width: 50%;
            /* border: thin solid black; */
            /* line-height: 2; */
        }

        .rawimg img {
            width: 480px;

        }

        button {
            padding: 20px 30px;
            background-color: blue;
            border: 0;
            color: white;
            border-radius: 12px;

        }

        .firsth{
            margin-block: 30px;
        }
        p {
            margin-block: 30px;
            font-size: 1.1rem;
        }
        .ass5 h1{
            color: rgb(7, 7, 39);
        }
        h2{
            color: rgb(7, 7, 39);
        }
        .mainsub{
            display: flex;
            gap: 50px;
            margin-block: 50px;
        }
        .mainsub a{
            text-decoration: none;
            border-bottom: thin solid rgb(7, 7, 39);
            padding-bottom: 10px;
            color: rgb(7, 7, 39);
        }
        .mainsub img{
            width: 300px;
        }
        .mainsub div{
            width: 300px;
        }
        .mainsub p{
            color: grey;
        }
        .ass5{
            margin-inline: 100px;
        }
        .second ul{
            list-style-type: none;
            width: 300px;
            font-size: 1.2rem;
            color: grey;
    
        }
        h4{
            color: rgb(30, 29, 29);
            
        }
        .second li{
            margin-block: 20px;
            border-bottom: thin solid blue;
            padding-bottom: 5px;
        }
        .second{
            display: flex;
            gap: 50px;
        }

        @media (max-width: 980px) {
             .Raw {
            width: 80%;
            /* border: thin solid black; */
            flex-direction: column;
        }

          .rawpan {
           
            width: 100%;
          
        }

        .rawimg {
            width: 100%;
        
        }
        .mainsub{
            flex-direction: column;
            
        }
        .ass5{
            margin-inline: 10px;
        }
        .mainsub div{
            width: 100%;
        }
        .mainsub img{
            width: 100%;
        }
        .second ul{
            font-size: 1.1rem;
            
        }

        }
        @media (max-width:605px) {
            .rawimg img {
            width: 100%;

        }
         h1 {
            font-size: 3rem;
        }
        .second{
            flex-direction: column;
        }
        .second ul{
            width: 100%;
        }

        }